[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = git://github.com/emilecantin/vim-colorschemes.git
[submodule "bundle/vim-css-color"]
	path = bundle/vim-css-color
	url = git://github.com/ap/vim-css-color.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = git://github.com/groenewege/vim-less.git
[submodule "bundle/jsruntime"]
	path = bundle/jsruntime
	url = git://github.com/michalliu/jsruntime.vim.git
[submodule "bundle/jsoncodecs"]
	path = bundle/jsoncodecs
	url = git://github.com/michalliu/jsoncodecs.vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-startify"]
	path = bundle/vim-startify
	url = git://github.com/mhinz/vim-startify.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scroloose/syntastic.git
[submodule "bundle/todo.txt-vim"]
	path = bundle/todo.txt-vim
	url = git://github.com/freitass/todo.txt-vim.git
[submodule "bundle/vim-perforce"]
	path = bundle/vim-perforce
	url = git://github.com/pydave/vim-perforce.git
[submodule "bundle/genutils"]
	path = bundle/genutils
	url = git://github.com/vim-scripts/genutils.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = git://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/jscomplete-vim"]
	path = bundle/jscomplete-vim
	url = git://github.com/teramako/jscomplete-vim.git
[submodule "bundle/vim-nodejs-complete"]
	path = bundle/vim-nodejs-complete
	url = git://github.com/myhere/vim-nodejs-complete.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/unite.vim"]
	path = bundle/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
